{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Blog Detail</title>
{% endblock %}
{% block content %}

<!-- Breadcrumb -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content" data-aos="fade-up">
            <p>HOME - BLOG DETAILS</p>
            <h1 class="section-heading"><img src="{% static '/images/star-2.png' %}" alt="Star"> Blog Details <img
                    src="{% static '/images/star-2.png' %}" alt="Star"></h1>
        </div>
    </div>
</section>

<!-- Blog Details -->
<section class="blog-details-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-details-content">
                    <div class="img-box">
                        {% if blog.image %}
                        <img src="{{ blog.image.url }}" alt="Blog">
                        {% else %}
                        <img src="{% static '/images/blog1.jpg' %}" alt="Blog">
                        {% endif %}
                    </div>
                    <span class="meta">{{ blog.created_at|date:"d F Y" }}, Comments: {{ blog.comments_count }}, Share: {{ blog.share_count }}</span>
                    <h1>{{ blog.title }}</h1>
                    <p>{{ blog.content|safe }}</p>

                    <div class="tags">
                        {% for i in tags %}
                        <a href="?i={{ i.slug }}" class="theme-btn">{{ i.name }}</a>
                        {% endfor %}
                    </div>

                    <div class="comments-and-form-wrap">
                        <div class="comments-and-form-wrap-inner shadow-box">
                            <h2>Comments: {{ blog.comments_count }}</h2>
                            <div class="comments">
                                {% for i in blog.comments.all %}
                                <div class="comment-list">
                                    <div class="comment-avatar">
                                        <img src="{% static '/images/comment.png' %}" alt="Avatar">
                                    </div>
                                    <div class="comment-body">
                                        <span class="date">{{ blog.created_at|date:"d F Y" }}</span>
                                        <h3>{{ i.name }}</h3>
                                        <p>{{ i.message|safe }}</p>
                                    </div>
                                </div>
                                {% empty %}
                                <p>No Comments Yet. Be The First To Comment</p>
                                {% endfor %}
                            </div>
                            <div class="comment-form">
                                <h2>Leave A Reply</h2>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" name="name" placeholder="Name*">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" name="email" placeholder="Email*">
                                    </div>
                                    <div class="input-group">
                                        <textarea name="message" placeholder="Your Message*"></textarea>
                                    </div>
                                    <div class="input-group">
                                        <button class="theme-btn" type="submit">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar">
                    <div class="blog-sidebar-inner">
                        <div class="blog-sidebar-widget search-widget">
                            <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                                <form class="shadow-box">
                                    <input type="text" placeholder="Search Here...">
                                    <button class="theme-btn">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="blog-sidebar-widget recent-post-widget" data-aos="zoom-in">
                            <div class="blog-sidebar-widget-inner shadow-box">
                                <h3>Recent Posts</h3>
                                {% for i in recent_posts %}
                                <ul>
                                    <li><a href="{% url 'blog_detail' slug=i.slug %}">{{ i.title }}</a></li>
                                </ul>
                                {% empty %}
                                <li>No Recent Post Available</li>
                                {% endfor %}

                            </div>
                        </div>

                        <div class="blog-sidebar-widget categories-widget" data-aos="zoom-in">
                            <div class="blog-sidebar-widget-inner shadow-box">
                                <h3>Categories</h3>
                                {% for i in categories %}
                                <ul>
                                    <li><a href="?i={{ i.slug }}">{{ i.name }}</a></li>
                                </ul>
                                {% empty %}
                                <li>No Categories Available</li>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="blog-sidebar-widget tags-widget" data-aos="zoom-in">
                            <div class="blog-sidebar-widget-inner shadow-box">
                                <h3>Tags</h3>
                                {% for i in tags %}
                                <ul>
                                    <li><a class="theme-btn" href="?i={{ i.slug }}">{{ i.name }}</a></li>
                                </ul>
                                {% empty %}
                                <li>No Tags Available</li>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}