{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Credentials</title>
{% endblock %}
{% block content %}
<!-- Credentials -->
<section class="credential-area"->
    <div class="container">
        <div class="gx-row d-flex">
            <div class="credential-sidebar-wrap" data-aos="zoom-in">
                <div class="credential-sidebar text-center">
                    <div class="shadow-box">
                        <img src="{% static '/images/bg1.png' %}" alt="BG" class="bg-img">
                        {% if about_me %}
                            <div class="img-box">
                                <img src="{{ about_me.image.url }}" alt="About Me">
                            </div>
                            <h2>{{ about_me.my_name }}</h2>
                            <p>@{{ about_me.username }}</p>
                        {% else %}
                            <h2>Unknown</h2>
                            <p>Unknown</p>
                        {% endif %}
                        <ul class="social-links d-flex justify-content-center">
                            {% if social_media %}
                                {% for platform, link in social_media.items %}
                                    <li><a href="{{ link }}"><i class="iconoir-{{ platform }}"></i></a></li>
                                {% endfor %}
                            {% else %}
                            <li><p>No Social Media Link Available</p></li>
                            {% endif %}
                        </ul>
                        <a href="{% url 'contact' %}" class="theme-btn">Contact Me</a>
                    </div>
                </div>
            </div>
            <div class="credential-content flex-1">
                <div class="credential-about" data-aos="zoom-in">
                    <h2>About Me</h2>
                    <p>{% if about_me %}{{ about_me.about_me|safe }}{% else %}No About Me Available{% endif %}</p>
                </div>
                <div class="credential-edc-exp credential-experience">
                    <h2 data-aos="fade-up">Experience</h2>
                    {% for i in experiences %}
                    <div class="credential-edc-exp-item" data-aos="zoom-in">
                        <h4>{{ i.start_year }} - {{ i.end_year }}</h4>
                        <h3>{{ i.position }}</h3>
                        <h5>{{ i.company }}</h5>
                        <p>{{ i.desciption|safe }}</p>
                    </div>
                    {% empty %}
                        <p>No Experience Available</p>
                    {% endfor %}
                </div>
                <div class="credential-edc-exp credential-education">
                    <h2 data-aos="fade-up">Education</h2>
                    {% for i in educations %}
                    <div class="credential-edc-exp-item" data-aos="zoom-in">
                        <h4>{{ i.start_year }} - {{ i.end_year }}</h4>
                        <h3>{{ i.degree }}</h3>
                        <h5>{{ i.university }}</h5>
                        <p>{{ i.description|safe }}</p>
                    </div>
                    {% empty %}
                    <p>No Education Available</p>
                    {% endfor %}
                </div>
                <div class="skills-wrap">
                    <h2 data-aos="fade-up">Skills</h2>
                    <div class="d-grid skill-items gap-24 flex-wrap">
                        {% for i in skills %}
                            <div class="skill-item" data-aos="zoom-in">
                                <h3 class="name">{{ i.name }}</h3>
                            </div>
                        {% empty %}
                            <p>No Skills Available</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}