{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Our Services</title>
{% endblock %}

{% block content %}
<!-- Service -->
<section class="service-area">
    <div class="container">
        <h1 class="section-heading" data-aos="fade-up"><img src="{% static '/images/star-2.png' %}" alt="Star"> My
            Offerings <img
                    src="{% static '/images/star-2.png' %}" alt="Star"></h1>
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-4">
                <div class="service-sidebar" data-aos="fade-right">
                    <div class="service-sidebar-inner shadow-box">
                        <ul>
                            {% for i in services %}
                            <li style="font-size: 24px; line-height: 1.2;">
                                <img src="{{ i.icon.url }}" style="width: 60px; height: 60px;"><br><br>
                                {{ i.title }}<br><br>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="col-md-8">
                <h1 class="section-heading" data-aos="fade-up"><img src="{% static '/images/star-2.png' %}" alt="Star">
                    My
                    Offerings <img src="{% static '/images/star-2.png' %}" alt="Star"></h1>
                <div class="service-content-wrap" data-aos="zoom-in">
                    <div class="service-content-inner shadow-box">
                        <div class="service-items">
                            {% for i in services %}
                            <div class="service-item" style="font-size: 20px;">
                                <!-- Hamma yozuvlar kattalashtiriladi -->
                                <h3 style="font-size: 20px;">{{ i.title }}</h3> <!-- Title hajmi kattaroq -->
                                <p style="font-size: 18px;">{{ i.description }}</p> <!-- Description hajmi kichikroq -->
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-24">
            <div class="col-md-12">
                <div class="d-flex profile-contact-credentials-wrap gap-24">
                    <div data-aos="zoom-in">
                        <div class="about-client-box info-box shadow-box">
                            <img src="{% static '/images/bg1.png' %}" alt="Otajon Bozorboev" class="bg-img">
                            <div class="clients d-flex align-items-start gap-24 justify-content-center">
                                <div class="client-item">
                                    <a href="{% url 'service' %}">
                                        <h1>+3</h1>
                                        <p>Years <br>Experience</p>
                                </div>
                                <div class="client-item">
                                    <h1>+10</h1>
                                    <p>CLIENTS <br>WORLDWIDE</p>
                                </div>
                                <div class="client-item">
                                    <h1>+10</h1>
                                    <p>Total <br>Projects</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="flex-1">
                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="{% url 'contact' %}"></a>
                            <img src="{% static '/images/bg1.png' %}" alt="BG" class="bg-img">
                            <img src="{% static '/images/icon2.png' %}" alt="Icon" class="star-icon">
                            <h1>Let's <br>work <span>together.</span></h1>
                            <a href="{% url 'contact' %}" class="about-btn">
                                <img src="{% static '/images/icon.svg' %}" alt="Button">
                            </a>
                        </div>
                    </div>
                    <div data-aos="zoom-in" class="h-full">
                        <div class="about-crenditials-box info-box shadow-box">
                            <a class="overlay-link" href="{% url 'credentials' %}"></a>
                            <img src="{% static '/images/bg1.png' %}" alt="Otajon Bozorboev" class="bg-img">
                            <img src="{{ abouts.first.icon.url }}" alt="Sign" style="width: 100px; height: auto;">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>more about me</h4>
                                    <h1>Credentials</h1>
                                </div>
                                <a href="{% url 'credentials' %}" class="about-btn">
                                    <img src="{% static '/images/icon.svg' %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}